.primary-color {
  color: #6bace4;
}

.secondary-color {
  color: #6f263d;
}

.btn-primary {
  background: #6bace4;
  color: #6f263d;
  opacity: 0.9;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.btn-primary:hover {
  background: #6f263d;
  color: #6bace4;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.primary-text {
  font-family: "Sedgwick Ave", cursive;
}

.bottom-line {
  height: 2px;
  width: 4rem;
  background: #6f263d;
  display: block;
  margin: 0.1rem auto 0.5rem auto;
}

.my {
  margin-bottom: 1.5rem;
}

.section-title {
  font-size: 35px;
  font-weight: 300;
}

.bg-light {
  background: #f2f2f2;
}

.bg-mid {
  background: #eaeaea;
}

.services-info-img {
  display: flex;
  height: 1200px;
  width: 80%;
}
.services-info-img .ball {
  align-self: flex-end;
  -webkit-animation: 3s linear 1s infinite alternate slidein;
          animation: 3s linear 1s infinite alternate slidein;
}
.services-info-img .spin {
  -webkit-animation-name: spin;
          animation-name: spin;
}

.roll {
  -webkit-animation-name: roll;
          animation-name: roll;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transition: all 1s;
}

@-webkit-keyframes roll {
  0% {
    transform: translateX(-41vw) rotate(0turn);
  }
  25% {
    rotate: 2.5turn;
  }
  50% {
    transform: translateX(41vw) rotate(2.5turn);
  }
  75% {
    rotate: -2.5turn;
  }
  100% {
    transform: translateX(-41vw) rotate(0turn);
  }
}

@keyframes roll {
  0% {
    transform: translateX(-41vw) rotate(0turn);
  }
  25% {
    rotate: 2.5turn;
  }
  50% {
    transform: translateX(41vw) rotate(2.5turn);
  }
  75% {
    rotate: -2.5turn;
  }
  100% {
    transform: translateX(-41vw) rotate(0turn);
  }
}
@media (max-width: 800px) {
  #about .container .about-info {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  #services .container .main-service {
    flex-direction: column-reverse;
  }
  #services .container .services-grid .services-info {
    display: flex;
    flex-direction: column;
  }
  #services .container .services-grid .services-info .services-1 h4,
#services .container .services-grid .services-info .services-2 h4,
#services .container .services-grid .services-info .services-3 h4,
#services .container .services-grid .services-info .services-6 h4 {
    font-size: 1.5rem;
  }
  #services .container .services-grid .services-info .services-1 p,
#services .container .services-grid .services-info .services-2 p,
#services .container .services-grid .services-info .services-3 p,
#services .container .services-grid .services-info .services-6 p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  #services .container .services-img {
    display: none;
  }
  #about .container {
    padding: 0;
  }
  #about .container .about-info {
    grid-template-areas: "image" "bio";
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #about .container .about-info img {
    margin-left: 2.5rem;
  }
  #about .container .about-info .bio {
    border: none;
    padding: 2rem 0;
    margin: 2rem 0;
    border-top: 1px dotted #6f263d;
  }
}
@media (max-width: 500px) {
  .section-title {
    padding-top: 3.8rem;
  }
  .showcase .navbar-top {
    flex-direction: column;
    align-items: center;
    height: 130px;
    border-bottom: 1px solid #6bace4;
  }
  .showcase .navbar-top .logo {
    padding-top: 5px;
  }
  .showcase .navbar-top .logo h2 {
    font-size: 45px;
  }
  .showcase .navbar-top .list-items {
    padding-bottom: 10px;
  }
  .showcase .navbar-top .list-items li {
    font-size: 25px;
    padding: 0.6rem;
  }
  #about .container .about-info {
    padding: 2.5rem 0 2.5rem;
    grid-template-areas: "image" "bio";
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #about .container .about-info img {
    margin-left: 2.5rem;
  }
  #about .container .about-info .bio {
    border: none;
    padding: 2rem 0;
    margin: 2rem 0;
    border-top: 1px dotted #6f263d;
  }
  #services .container .services-img {
    display: none;
  }
  #services .container .main-service {
    flex-direction: column-reverse;
  }
  #services .container .services-grid {
    display: flex;
    flex-direction: column;
  }
  #services .container .services-grid .services-info {
    margin: 0;
    padding-bottom: 3rem;
  }
  #services .container .services-grid .services-info .services-1 h4,
#services .container .services-grid .services-info .services-2 h4,
#services .container .services-grid .services-info .services-3 h4,
#services .container .services-grid .services-info .services-6 h4 {
    font-size: 1.2rem;
  }
  #services .container .services-grid .services-info .services-1 p,
#services .container .services-grid .services-info .services-2 p,
#services .container .services-grid .services-info .services-3 p,
#services .container .services-grid .services-info .services-6 p {
    font-size: 1rem;
  }
  #services .container .services-grid img {
    display: none;
  }
  #contact-a .container form .text-fields {
    margin: 0;
    grid-template-areas: "name" "phone" "email" "subject" "message";
  }
  #contact-a .container form p {
    padding-top: 3rem;
    font-size: 1.4rem;
  }
  #contact-b .container .contact-info {
    flex-direction: column;
  }
  #contact-b .container .contact-info div {
    padding: 2rem;
  }
  #contact-b .container .contact-info .info-1,
#contact-b .container .contact-info .info-2 {
    border-bottom: 1px dotted #6bace4;
  }
  #main-footer .footer-content {
    flex-direction: column;
  }
  #main-footer .footer-content h4 {
    padding: 1rem 0;
  }
  #main-footer .footer-content .social {
    padding: 0.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.showcase {
  background: url("/imgs/showcase.jpeg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
  overflow: hidden;
}
.showcase::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
}
.showcase * {
  z-index: 3;
}
.showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}
.showcase-content h1 {
  padding-bottom: 0.2rem;
  font-size: 50px;
}
.showcase-content p {
  font-size: 20px;
  max-width: 600px;
  margin: 20px 0;
}

.navbar-top {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  opacity: 0.9;
  border-bottom: 1px solid #6f263d;
  z-index: 5;
}
.navbar-top .logo {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.navbar-top .logo h2 {
  font-family: "Sedgwick Ave", cursive;
}
.navbar-top .logo h2 span {
  font-family: "Sedgwick Ave", cursive;
}
.navbar-top .list-items {
  display: flex;
  text-align: center;
}
.navbar-top .list-items li {
  padding: 0.7rem;
}
.navbar-top .list-items li a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.2rem;
}
.navbar-top .list-items li a:hover {
  color: #6bace4;
}

#about .container {
  display: inline-block;
  padding-top: 5rem;
  background: #eaeaea;
  color: #5b5b5b;
  border-top: 1px solid #6bace4;
}
#about .about-info {
  display: flex;
  padding-bottom: 7rem;
}
#about .about-info img {
  height: 250px;
  width: 250px;
  border-radius: 50px;
  margin: 0 3rem;
}
#about .about-info .bio {
  border-left: 1px dotted #6f263d;
}
#about .about-info .bio h4 {
  font-size: 25px;
  margin-bottom: 8px;
}
#about .about-info .bio p {
  line-height: 1.5;
  padding: 1rem 3rem;
}

#services .container {
  padding: 5rem 3rem 0 3rem;
  background: #fff;
  color: #5b5b5b;
}
#services .container .main-service {
  display: flex;
  align-items: center;
  margin: 1rem;
}
#services .container .main-service h4 {
  font-size: 2rem;
  padding-bottom: 3px;
  margin-bottom: 7px;
  border-bottom: 1px dotted #6bace4;
}
#services .container .main-service p {
  padding-top: 8px;
  font-size: 1.2rem;
}
#services .container .main-service .services-4,
#services .container .main-service .services-5 {
  padding: 0 1rem;
}
#services .container .main-service .services-4-img img,
#services .container .main-service .services-5-img img {
  height: 275px;
  width: 400px;
  padding: 1rem;
  border-radius: 10%;
}
#services .container .services-grid {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services .container .services-grid .services-info {
  display: flex;
  justify-content: space-evenly;
}
#services .container .services-grid .services-info h4 {
  font-size: 1.5rem;
  padding-bottom: 3px;
  margin-bottom: 7px;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
#services .container .services-grid .services-info p {
  padding: 0.5rem 1rem 2rem;
  font-size: 1.1rem;
}
#services .container .services-grid .services-info .services-1 {
  padding: 2rem 0.5rem;
}
#services .container .services-grid .services-info .services-1 h4 {
  -webkit-text-decoration-color: #6bace4;
          text-decoration-color: #6bace4;
}
#services .container .services-grid .services-info .services-1 img {
  height: 125px;
  width: 175px;
  border-radius: 10px;
}
#services .container .services-grid .services-info .services-2 {
  padding: 2rem 0.5rem;
}
#services .container .services-grid .services-info .services-2 h4 {
  -webkit-text-decoration-color: #6f263d;
          text-decoration-color: #6f263d;
}
#services .container .services-grid .services-info .services-2 img {
  height: 125px;
  width: 175px;
  border-radius: 10px;
}
#services .container .services-grid .services-info .services-3 {
  padding: 2rem 0.5rem;
}
#services .container .services-grid .services-info .services-3 h4 {
  -webkit-text-decoration-color: #6bace4;
          text-decoration-color: #6bace4;
}
#services .container .services-grid .services-info .services-3 img {
  height: 125px;
  width: 175px;
  border-radius: 10px;
}
#services .container .services-grid .services-info .services-6 {
  padding: 2rem 0.5rem;
}
#services .container .services-grid .services-info .services-6 h4 {
  -webkit-text-decoration-color: #6f263d;
          text-decoration-color: #6f263d;
}
#services .container .services-grid .services-info .services-6 img {
  height: 125px;
  width: 175px;
  border-radius: 10px;
}
#services .container .services-img {
  justify-content: center;
  height: 100%;
  margin-top: 5rem;
}
#services .container .services-img img {
  height: 235px;
  width: 365px;
}

#contact-a .container {
  padding: 5rem 3rem 2rem 3rem;
  background: #eaeaea;
  color: #5b5b5b;
}
#contact-a .container p {
  padding: 1rem 3rem;
}
#contact-a .container .text-fields {
  display: grid;
  gap: 0.8rem;
  margin: 3rem 4rem;
  grid-template-areas: "name phone" "subject email" "message message";
}
#contact-a .container .text-fields .name-input {
  grid-area: name;
}
#contact-a .container .text-fields .subject-input {
  grid-area: subject;
}
#contact-a .container .text-fields .email-input {
  grid-area: email;
}
#contact-a .container .text-fields .phone-input {
  grid-area: phone;
}
#contact-a .container .text-fields .message-input {
  grid-area: message;
  height: 100px;
}
#contact-a .container .text-fields .text-input {
  padding: 0.5rem;
}
#contact-a .container button[type=submit] {
  width: 50%;
  margin: 3rem 0;
  font-size: 1rem;
  font-weight: bold;
}

#contact-b {
  background: #6f263d;
  color: #6bace4;
}
#contact-b .container {
  padding: 3.5rem;
}
#contact-b .container .contact-info {
  display: flex;
  justify-content: space-evenly;
}
#contact-b .container .contact-info i {
  padding-bottom: 0.5rem;
  transition: all 1s;
}
#contact-b .container .contact-info i:hover {
  transform: rotate(360deg);
  color: #5b5b5b;
}
#contact-b .container .contact-info h3 {
  padding-bottom: 0.2rem;
  color: #eaeaea;
}

#contact-c {
  background: #6bace4;
  text-align: center;
}
#contact-c .container {
  padding: 5rem 0;
}
#contact-c .container h1 {
  font-size: 35px;
  color: #6f263d;
}
#contact-c .container h1 span {
  color: #eaeaea;
}

#main-footer {
  background: #333;
  color: #fff;
  border-top: 1px solid #6bace4;
}
#main-footer .footer-content {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
}
#main-footer .footer-content h4 {
  font-size: 1.5rem;
  font-family: "Sedgwick Ave", cursive;
  padding: 5px 0 5px 10px;
  text-align: center;
}
#main-footer .footer-content h4 span {
  font-family: "Sedgwick Ave", cursive;
}
#main-footer .footer-content i {
  padding: 3px 6px;
}
#main-footer .footer-content i.primary-color:hover {
  color: #6f263d;
  border-bottom: 1.5px solid #6bace4;
}
#main-footer .footer-content i.secondary-color:hover {
  color: #6bace4;
  border-bottom: 1.5px solid #6f263d;
}/*# sourceMappingURL=main.css.map */